* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.portion1 {
  height: 30rem;
  margin: 20rem 4rem 4rem 4rem;
}

.we-are-here {
  color: #094c40;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.paragraph1 {
  width: 70%;
}

/* fsecond portion */

.portion2 {
  border: 2px solid red;
  height: 50rem;
  background-color: #094c40;
}

.section1 {
  border: 2px solid red;
  width: 50%;
  z-index: 1;
}
